* {
  box-sizing: border-box;
}

.container {
  margin: 4rem auto;
  display: grid;
  justify-items: center;
}

.row {
  display: flex;
}

.column-full,
.column-half,
.column-one-third {
  width: 100%;
}

.column-flex {
  flex-basis: auto;
}

@media screen and (min-width: 800px) {
  .container {
    margin: auto;
    display: grid;
    height: 100vh;
    place-content: center;
  }

  .column-half {
    width: 50%;
  }

  .column-one-third {
    flex-basis: calc(100%/3);
  }
}
