* {
  box-sizing: border-box;
}

.container {
  margin: 4rem auto;
  padding: 0 0 1rem;
  display: grid;
  justify-items: center;
}

.row {
  display: flex;
}

.column-full,
.column-one-third {
  width: 100%;
}
