.background {
  background-color: hsl(233deg 47% 7%);
}

.card {
  background-color: hsl(244deg 38% 16%);
  border-radius: 8px;
}

.image {
  background-image: url("../images/image-header-mobile.jpg");
  height: 250px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.image-tint {
  height: 100%;
  background-color: rgb(148 40 214 / 50%);
}

.card-padding {
  padding: 0 1rem;
}

h1 {
  font-family: Inter, sans-serif;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}
