html {
  font-size: 15px;
  font-family: Inter, sans-serif;
}

.background {
  background-color: hsl(233deg 47% 7%);
}

.card {
  background-color: hsl(244deg 38% 16%);
  border-radius: 8px;
  padding-bottom: 1rem;
  width: 340px;
}

.direction {
  flex-direction: row;
}

.image {
  background-image: url("../images/image-header-mobile.jpg");
  height: 250px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.image-tint {
  height: 100%;
  background-color: rgb(148 40 214 / 50%);
  border-radius: 8px 8px 0 0;
}

.margin-auto {
  margin: auto;
}

.card-padding {
  padding: 0 1.5rem;
}

h1 {
  font-family: Inter, sans-serif;
  color: white;
  text-align: center;
}

span {
  color: hsl(277deg 64% 61%);
}

.text-align {
  text-align: center;
}

.summary {
  color: hsl(0deg 0% 100% / 75%);
  line-height: 25px;
}

.wrap {
  flex-wrap: wrap;
}

h2 {
  color: white;
  margin-bottom: 0;
}

.stats {
  color: hsl(0deg 0% 100% / 60%);
  margin: 0 0 1rem;
  letter-spacing: 2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}

.stats-styling {
  flex-direction: column;
  align-items: center;
  align-content: center;
}

@media screen and (min-width: 900px) {
  .wrap {
    flex-wrap: no-wrap;
  }

  .direction {
    flex-direction: row-reverse;
  }

  .card {
    padding-bottom: 0;
    width: 950px;
  }

  .image {
    background-image: url("../images/image-header-desktop.jpg");
    height: 400px;
    width: 100%;
    border-radius: 0 8px 8px 0;
    background-size: cover;
  }

  .image-tint {
    border-radius: 0 8px 8px 0;
  }

  .column-padding {
    padding: 0 2rem;
  }

  .text-align {
    text-align: left;
  }

  .stats-styling {
    flex-direction: row;
    justify-content: space-between;
  }
}
